.App {
  text-align: center;
}

img {
  height: 40vmin;
  margin-bottom: 50px;
  /* pointer-events: none; */
}

.title {
  font-size: 30px;
  color:#343c5c;
  margin: 3px;
}

.panelBar {
  margin: 0 20%;
  border-bottom: 4px solid #e2e2e2;
}

.content {
  margin: 20px 30%;
  text-align: left;
}

.offer {
  margin-top: 150px;
}

.contact {
  width: 100%;
  margin-top: 150px;
  background-color: #343c5c;
  color: #e2e2e2;
  padding: 10px 20px 30px 20px;
}

.title-contact {
  font-size: 20px;
  color:#e2e2e2;
  margin: 3px;
  padding-bottom: 10px;
}

@media (min-widht: 900px) {
  
}
