.App {
  text-align: center;
  overflow: hidden;

  nav {
    display: flex;
    margin-left: 3%;
    a {
      text-decoration: none;
      padding: 0px 5px;
      color: 343c5cce;
      &:hover {
        color: orange;
      }
    }
    .linkPl {
      border-right: 1px solid #343c5cce;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20% 100px;
    font-size: 16px;
    text-transform: uppercase;
  }

  .logo {
    height: 40vmin;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
  }

  .future {
    margin: 20px 0px 20px;
    font-size: 20px;
    color: #343c5c;
  }

  .title {
    font-size: 30px;
    color:#343c5c;
    margin: 3px;
  }

  .panelBar {
    margin: 0 20%;
    border-bottom: 4px solid #e2e2e2;
  }

  .content {
    margin: 20px 25%;
    text-align: left;
  }

  .offer {
    margin-top: 100px;
  }

  .about {
    margin-top: 100px;
  }

  .hastag {
    margin: 20px 20%;
    justify-content: center;
    p {
      color: #343c5c;
      font-size: 16px;
      margin: 10px 10px;
      display: inline-flex;
      padding: 5px;
      border-radius: 5px;
      background-color: rgb(245, 245, 245);
      font-weight: 500;
      &:hover {
        background-color: rgb(226, 226, 226);
      }
    }
  }

  .contact {
    width: 100%;
    margin-top: 100px;
    background-color: #343c5c;
    color: #e2e2e2;
    padding: 10px 20px 30px 20px;

    .titleContact {
      font-size: 20px;
      color:#e2e2e2;
      margin: 3px;
      padding-bottom: 10px;
    }
  }

  .reference {
    background-color: rgb(245, 245, 245);
    margin: 100px 0px;
    padding: 20px 0px;
    .imgContainer {
      display: flex;
      align-items: initial;
      justify-content: center;
      .clientImg {
        margin: 10px;     
      }
      .img1 {
        width: 150px;
        height: 35px;
        object-fit: cover;
      }
      .img2 {
        width: 180px;
        height: 23px;
        object-fit: cover;
      }
      .img3 {
        width: 150px;
        height: 23px;
        object-fit: cover;
      }
      .img4 {
        width: 200px;
        height: 23px;
        object-fit: cover;
      }
      .img5 {
        width: 150px;
        height: 23px;
        object-fit: cover;
      }
      .img6 {
        width: 150px;
        height: 28px;
        object-fit: cover;
      }
      .img7 {
        width: 100px;
        height: 35px;
        object-fit: cover;
      }
      .img8 {
        width: 150px;
        height: 35px;
        object-fit: cover;
      }
      .img9 {
        width: 150px;
        height: 45px;
        object-fit: cover;
      }
      .img10 {
        width: 120px;
        height: 40px;
        object-fit: cover;
      }
    }
  }

  .realizations {
    margin-top: 50px;
    .imgContainer {
      display: flex;
      align-items: initial;
      justify-content: center;
      .img {
        height: 30vmin;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
      .portfolioImg {
        padding: 3px;
        object-fit: cover;
      }
    }
  }


  @media (max-width: 768px) {
    font-size: 14px;

    .panelBar {
      margin: 0 10%;
    }

    .content {
      margin: 20px 11%;
      text-align: left;
    }

    .title {
      font-size: 20px;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 10% 50px;
      font-size: 14px;

    }

    .hastag {
      margin: 10px 15%;
      p {
        font-size: 12px;
        margin: 10px 10px;
      }
    }

    .reference {
      margin: 50px 0px;
      padding: 10px 0px;
      .imgContainer {
        .clientImg {
          margin: 10px 3px;     
        }
        .img1 {
          width: 100px;
          height: 25px;
        }
        .img2 {
          width: 100px;
          height: 15px;
        }
        .img3 {
          width: 100px;
          height: 15px;
        }
        .img4 {
          width: 100px;
          height: 11px;
        }
        .img5 {
          width: 100px;
          height: 15px;
        }
        .img6 {
          width: 100px;
          height: 18px;
        }
        .img7 {
          width: 60px;
          height: 19px;
        }
        .img8 {
          width: 100px;
          height: 18px;
        }
        .img9 {
          width: 100px;
          height: 30px;
        }
        .img10 {
          width: 70px;
          height: 25px;
        }
      }
    }

    .offer {
      margin-top: 50px;
    }
  
    .about {
      margin-top: 50px;
    }

  }
}